*.xlsx
*.json
*.csv
*.db
*.pdf
*Data/exports/invoice/Luxe Organix Invoice-2.pdf
/stuff
/mustafasstuff
Data.zip
/old shit
/Competiton/2_Unify/build_product_master-v2-old.py
/Competiton/2_Unify/build_product_master-old.py
!*_config.json